/* BREAKPOINTS */
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

/* FONT SIZES */

/* FONT SIZES - Desctop*/
// $fs-default: 16px;
// $fs-header-1: 22px;

/* FONT SIZES - Tablet*/
/* FONT SIZES - Mobile*/
